body {
    background-color: #003300;
}

header {
    background-image: url(../img/def.jpg);
    height: 8.2em;
    width: 79.8em;
    float: left;
    margin-left: 2.5%;
    border-top: 1.3px solid darkgoldenrod;
    border-left: 1px solid darkgoldenrod;
    border-right: 1px solid darkgoldenrod;
}

nav {
    float: left;
    margin-top: 7.20%;
    background-color: rgb(0, 0, 0, 0.5);
}

#menu,
li {
    display: inline;
    font-family: Agency FB;
    font-size: 1.55em;
    padding: 7.0px;
    margin: 0px 20px 3px 0px;
    line-height: 0.5%;
}

#menu,
li,
a {
    text-decoration: none;
    color: darkgoldenrod;
}

a:hover {
    color: white;
    border-bottom: 1.5px solid darkgoldenrod;
}

section {
    background-color: white;
    height: 30.0em;
    width: 79.8em;
    float: left;
    margin-left: 2.5%;
    overflow: auto;
    border-left: 1px solid darkgoldenrod;
    border-right: 1px solid darkgoldenrod;
}

footer {
    background-image: url(../img/def.jpg);
    background-repeat: no-repeat;
    height: 2.2em;
    width: 79.8em;
    float: left;
    margin-left: 2.5%;
    border-right: 1px solid darkgoldenrod;
    border-left: 1px solid darkgoldenrod;
    border-bottom: 1.3px solid darkgoldenrod;
}

#textofot {
    font-family: Agency FB;
    font-weight: normal;
    color: darkgoldenrod;
    font-size: 0.85em;
    float: right;
}

p {
    padding-left: 3.5%;
    padding-right: 2.6%;
    font-family: calibri;
    font-size: 1.2em;
    text-align: justify;
    float: left;
}

#encabezado {
    width: 300px;
    height: 103px;
    margin-top: 1%;
    margin-left: 20%;
    margin-top: 0%;
}

.submenu {
    margin-top: 1%;
    position: relative;
    display: block;
    height: 30px;
    float: right;
    margin-right: 3%;
    width: 150px;
}

.submenu a {
    color: black;
    font-family: calibri;
    display: block;
    margin-top: 2%;
}

h2 {
    font-family: calibri;
    background-color: darkgoldenrod;
    height: 30px;
    width: 710px;
    color: black;
    padding-left: 1.5%;
    float: left;
}

strong {
    font-size: 1.2em;
    border-bottom: 2px solid darkgoldenrod;
}

.imag {
    max-height: 300px;
    max-width: 300px;
    float: left;
    margin-left: 35%;
}